<section class="home-page">
    <div class="container">
        <div class="row">
            <div class="col">
                <header>
                    <%- include('../partials/header'); %>
                </header>
            </div>
        </div>
        <br>
        <br>
        <p><b>Parkir Keluar</b></p>
        <form action="/create-out" method="POST">
            <div class="row">
                <div class="col">
                    <div class="form-group">
                        <input name="code_transaction_out" class="form-control" placeholder="Kode Transaksi" style="width: 200px;">
                    </div>
                </div>
            </div>
            <br>
            <div class="row">
                <div class="col">
                    <button type="submit" class="btn btn-primary mb-2">Simpan</button>
                </div>
            </div>
        </form>
    </div>
</section>